/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #FF66F6;
@define-color text #EDEDFE;
@define-color base #0F0F19;
@define-color border #33A1FF;
@define-color foreground #EDEDFE;
@define-color background #0F0F19;
@define-color hover #202034;

window {
  /* keep default size, no background needed here */
}

window .box-wrapper {
  background: @background; /* solid background */
  color: @text;
  border: 3px solid @border;
  border-radius: 0px;
}

window .search-container,
window .search {
  background: @hover; /* solid background for search */
  color: @foreground;
  border: none;
  border-radius: 0px;
}
